.upcoming-game {
    font-weight: 600;
    margin:3%;
    font-size: 18px;
}

.upcoming_card {
    /* float: left; */
    width: 36%;
    height: 70%;   
    background: bisque;
    margin: 3%;
    /* text-align: center; */
    /* margin-top: 2%; */
}

.navbar-expand-lg{
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

.navbar-right{
    display: list-item!important;
}

.navbar-nav{
    float: right!important;
}

.d-block{
    height: 450px!important;
}

.fa-clock-o{
    font-size: 18px;
}

.fa-map-marker{
    font-size: 20px;
}

.h4{
    text-align: center!important;
}


