.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 500px;
    left: 30px;
    color: rgb(0, 0, 0);
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
  }.cntnr {
    position: relative;
    text-align: center;
    color: white;
  }

  .bgimage {
    background-size:auto;
    width: 100%;
    margin-left: 0%;
    padding-left: 0%;

  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 500px;
    left: 30px;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
  }

  .bottom-center {
    position: absolute;
    bottom: 400px;
    left: 30px;
    width: 15%;
  }

  .bottom-center:hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  .bottom-cntr {
    position: absolute;
    bottom: 300px;
    left: 30px;
    width: 15%;
  }

  .bottom-cntr:hover {
    cursor: pointer;
    transform: scale(1.2);
  }