.body {
    display: flex;
    min-height: 75vh;
    flex-direction: column;
}
.cell{
    font-size: 16px!important;
    text-align: center!important;
    /* color: rgb(222,115,63)!important; */
    color: #22435A !important;  
  }
.cellh{
    font-size: 20px!important;
    text-align: center!important;
    /* color: rgb(222,115,63)!important; */
    color: #22435A !important;  
}
h2{
    color: rgb(222,115,63)!important; 
}